*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #E3F2FD;
}

.container{
    width: 98%;
    max-width: 900px;
    position: relative;
    background: rgb(0, 0, 0);
    border-radius: 5px;
    overflow: hidden;
}

.wrapper{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.wrapper::before{
    content: "";
    bottom: 0;
    width: 100%;
    z-index: -1;
    position: absolute;
    background: #000;
    height: calc(100% + 35px);
}

.container video{
    width: 100%;
}